<div class="container mt-3">
    <div class="class row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card">
                <div class="card-body text-center">
                    <span class="title"> {{ title | uppercase }} </span>
                    <form class="mt-3" [formGroup]="registerForm" (ngSubmit)="registerAdmin()">
                        <div class="mb-3">
                            <input type="text" formControlName="fullName" 
                                class="form-control form-control-lg" placeholder="Full Name">
                            <div class="text-danger"
                                *ngIf="registerForm.get('fullName')?.hasError('required') && registerForm.get('fullName')?.touched">
                                <span>El nom és obligatori</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="adminName" 
                                class="form-control form-control-lg" placeholder="Admin Name">
                            <div class="text-danger"
                                *ngIf="registerForm.get('adminName')?.hasError('required') && registerForm.get('adminName')?.touched">
                                <span>El username és obligatori</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="email" 
                                class="form-control form-control-lg" placeholder="Email">
                            <div class="text-danger"
                                *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched">
                                <span>L'email és obligatori</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="password" formControlName="password"
                                class="form-control form-control-lg" placeholder="Password">
                            <div class="text-danger"
                                *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
                                <span>El password és obligatori</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button type="submit" [disabled]="registerForm.invalid" class="btn btn-success btn-lg float-mid"> CONFIRM </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>